.hero-section{
    background-image: url("../images/hero-background.png");
    width: 100%;
    height: 100vh;
}

.hero-section .back-hero {
    display: none;
    width: 80%;
    margin: 0 auto;
}

.hero-section nav {
    display: grid;
    grid-template-columns: auto 58%;
    width: 100%;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
}

.hero-section nav {
    display: grid;
    grid-template-columns: auto 58%;
    width: 100%;
    justify-content: space-evenly;
}

.hero-section nav .menuresponsive{
    background-image: url("../images/background-nav.svg");
    width: 100%;
    height: 100%;
    background-position: center;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    left: 0;
    top: -113vh;
    height: 75vh;
    border-bottom: 5px solid #18599C;
    padding: 5rem 0 2rem 0;
    opacity: 0;
    transition: top 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.hero-section nav .menuresponsive.open{
   top: 0;
   opacity: 1;
   transition: top 0.6s ease-in-out , opacity 0.6s ease-in-out;
}

.hero-section nav .menuresponsive ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    padding: 0;
}


.hero-section nav .menuresponsive ul li a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    font-family: sans-serif;
    color: #18599C;
    font-size: 1.4rem;
}

.hero-section nav .berger{
    width: 2.6rem;
    height: 0.4rem;
    background-color:  #18599C;
    position: relative;
    transition: background-color 0.5s ease 0.5s;
}

.hero-section nav .berger::before{
    width: 2.6rem;
    position: absolute;
    content: "";
    bottom: 0.7rem;
    height: 0.4rem;
    background-color: #18599C;
    transform: rotate(0deg);
    transition: bottom 0.5s ease 0.5s, transform 0.5s ease;
}

.hero-section nav .berger::after{
    width: 2.6rem;
    position: absolute;
    content: "";
    top: 0.7rem;
    height: 0.4rem;
    background-color:  #18599C;
    transform: rotate(0deg);
    transition: top 0.5s ease 0.5s, transform 0.5s ease;
}

.navbar .berger.open::after{
    top: 0;
    transform: rotate(45deg);
    transition: top 0.5s ease, transform 0.5s ease 0.5s;
}

.navbar .berger.open::before{
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 0.5s ease, transform 0.5s ease 0.5s;
}

.hero-section nav .berger.open{
    background: transparent;
    transition: background 0.5s ease;
}

.hero-section nav .berger.open::after{
    top: 0;
    transform: rotate(45deg);
    transition: top 0.5s ease, transform 0.5s ease 0.5s;
}

.hero-section nav .berger.open::before{
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 0.5s ease, transform 0.5s ease 0.5s;
}

.hero-section .nav-center{
    display: none;
}

.hero-section nav .nav-right{
    display: grid;
    grid-template-columns: 67% 20%;
    align-items: center;
    gap: 13%;
}

.hero-section nav .nav-right ul{
    display: flex;
    list-style-type: none;
    padding: 5px 10px;
    border-radius: 27.59px;
    background-color: rgba(25, 25, 25, 0.1);
}

.hero-section nav .nav-right ul li{
    padding: 2px 10px;
    border-radius: 17px;
    color: black;
    display: flex;
    align-items: center;    
}

.hero-section nav .nav-right ul li:hover{
    background-color: blue;   
}

.hero-section nav .nav-right ul li.active{
    background-color: blue;
}

.hero-section nav .nav-right ul li.active a{
    color: white;
}

.hero-section nav ul a{
    text-decoration: none;
    font-family: system-ui;
    font-weight: 900;
    font-size: x-small;
    color: black;
}

.hero-section .title{
    font-family: system-ui;
    font-weight: 900;
    font-size: 5vw;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding-top: 100px;
    color: #18599C;
}

.hero-section .description{
    padding: 0px 2.5rem;
    text-align: center;
    margin-bottom: 3rem;
}

.hero-section .hero-features{
    width: 80%;
    background-color: white;
    height: 16rem;
    margin: 0 auto;
    border-radius: 23px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 0 18px;
    justify-items: center;
    box-shadow: 0 5px 5px rgb(125, 125, 125, 0.5);
}

.hero-section .hero-features div{
    height: 3rem;
    background-color: white;
    width: 85%;
    border-radius: 27px;
    display: flex;
    justify-content: space-evenly;
    font-weight: 500;
    font-family: system-ui;
    align-items: center;
}

.hero-section .hero-features .Energy:hover, .Nautic:hover, .Aviation:hover, .Security:hover{
    box-shadow: 0 5px 10px rgba(25, 25, 25, 0.2);
    transition: 0.3s;
}


.hero-section .hero-features div img{
    width: 27px;
}

.hero-section .hero-features .button{
    grid-column: span 2;
    background-color: transparent;
}

.hero-section .hero-features .button button{
    width: 8.5rem;
    background-color: #D14A37;
    padding: 0.8rem 0.6rem;
    border-radius: 45px;
    border: none;
    color: white;
}

@media only screen and (min-width : 1280px) {
 
    .hero-section nav .nav-right{
        grid-template-columns: auto;
    }

    .hero-section nav{
        grid-template-columns: auto 50% auto
    }

    .hero-section .nav-center{
        display: block;
    }

    .hero-section nav .nav-center ul{
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
    }

    .hero-section nav .nav-center ul a{
        font-size: large;
        font-weight: 400;
        cursor: pointer;
    }

    .hero-section nav .berger{
        display: none;
    }
    
    .hero-section .back-hero{
        display: block;
        margin: 0;
    }
    .hero-section .title{
        padding: 0;
        margin: 1rem 0;
    }
    .hero-section .title h1{
        padding: 0;
        margin: 0;
    }
    .hero-section .description {
        display: flex;
        justify-content: center;
        padding: 0;
        width: 100% ;
    }

    .hero-section .description p{
        width: 60%;
        padding: 0;
    }

    .hero-section .hero-features{
        grid-template-columns: auto auto auto auto;
        align-items: center;
        height: 11rem;
    }

    .hero-section .hero-features .button{
        grid-column: span 4;
    }
}
