@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
 
}
.services-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 30px;
}
/* Services Section */
.services-mis {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    margin-top: 6%;
}

.services-mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.services-text {
    text-align: center;
}

.services-text h2 {
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #18599C;
}

.services-text p {
    width: 300px;
    text-transform: uppercase;
    font-weight: 100;
}

/* Statistics Section */

.statistic-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.statistics-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.statistic-number {
    display: flex;
    flex-direction: column;
    width: 306px;
    height: 118px;
    background-color: #F4F4F4;
    border-radius: 22px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.statistic-number h2 {
    font-size: 93px;
    font-family: sans-serif;
    color: #18599C;
}

.statistic-text p {
    width: 210px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}
/* ------Genas----------- */

.Genas-section{
    display: flex;
    flex-direction: column;
    margin-top: -183px;
    gap: 42px;
    margin-bottom: 39px;
}

.Genas-text-globale{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
    font-size: 24px;
}
.Genas-text h1{
    display: flex;
    flex-direction: column;
    justify-items: center;
    /*margin-left: 85px;*/
    text-align: center;
    width: 252px;
    font-family: initial;
    color: #18599C;
    font-weight: 200;
}
.Genas-text p{
        font-family: "Roboto", sans-serif;
        font-weight: 200;
}

.Genas-imge-globale{
    display: flex;
    justify-content: space-around;
}
.Genas-imge img{
    border: 5px solid #e7e6e6;
    border-radius: 75px;

}
.Genas-imge{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 34px 0px #00000061;
    border-radius: 75px;
}


.border{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 85px;
    display: flex;
    align-items: center;
    /* margin: auto 0; */
    border: 11px solid #c0c0c06b;
}

.Genas-imge-touts{
    display: flex;
    flex-direction: column;
    gap: 30px;
}



/* ------Responsive Design----------- */
@media (min-width: 1025px) {   
    
    body{
        margin-left: 19px
    }

    /* ----Services Section----- */
    .services-mis {
        flex-direction: row;
        width: 100%;
        height: 100%;
        gap: 9.5%;
    }
    
    .statistics-section {
        flex-direction: row;
    }

    /* ------Genas----------- */
    
    .Genas-section {
        width: 100%;
        height: 100%;
        margin-top: 0;
        gap: 80px;
        margin-bottom: 50px;
    }

    .border {
        border-radius: 154px;
        border: 20px solid #c0c0c06b;
    }
    .Genas-imge-touts {
        flex-direction: row;
        justify-content: space-around;
        gap: 2px;
    }

    .Genas-imge img {
        border: 9px solid #e7e6e6;
        border-radius: 156px;
        width: 19rem;
    }
    
    .Genas-imge-globale {
        display: flex;
        justify-content: space-around;
        /* gap: 288px; */
        width: 50%;

   }

   .Genas-imge {
    border-radius: 167px;
   }

    .Genas-trans1{
        transform: translateY(42px);
    }
     
    .Genas-trans2{
        transform: translateY(-2.1rem);
    }

    .Genas-text-globale {
        margin-top: 100px;
        font-size: 28px; /* Augmenter légèrement la taille de la police */
    }

    .Genas-text h1 {
        width: auto; /* Enlever la largeur fixe */
        font-size: 36px; /* Augmenter la taille pour le bureau */
    }

  

}